<!DOCTYPE HTML>
<html language="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- HTMX -->
        <script src="https://unpkg.com/htmx.org@2.0.3" integrity="sha384-0895/pl2MU10Hqc6jd4RvrthNlDiE9U1tWmX7WRESftEDRosgxNsQG/Ze9YMRzHq" crossorigin="anonymous"></script>
        <!-- msgpacks -->
        <script src="https://rawgit.com/kawanet/msgpack-lite/master/dist/msgpack.min.js"></script>
        <!-- e-charts -->
        <script src="https://go-echarts.github.io/go-echarts-assets/assets/echarts.min.js"></script>

        <title> Go HTMX </title>
        <link rel="stylesheet" type="text/css" href="/css/style-2.css">
    </head>
    <body>
        <header class="navheader"><h1 align="center">SPARTA labelling tool</h1></header>
        <main class="container">
            <div class="box">
                <form>
                    <label for="shotnr">Shot</label>
                    <input type="number" min=240108001 id="shotnr" name="shotnr" value="241013002">
                    <button class="button-32" 
                        id="fetch-btn"
                        hx-post="http://localhost:8080/api/get_sparta_info" 
                        hx-preserve
                        hx-select-oob="#sparta-shot-info, #sparta-shot-nav">
                        Fetch Shot Data
                    </button>
                </form>
            </div>

            <div class="box"> 
                <div id="sparta-shot-info">
                    Sparta Info for selected shot
                </div>
            </div>

            <div class="box">
                <form>
                    <label for="username">Username</label>
                    <input type="text" id="username" name="username">
                    <!-- Careful to match trailing slashes in go's route handler here... -->
                    <button hx-post="http://localhost:8080/api/signin"
                        hx-trigger="click"
                        hx-target="#session-info"
                        hx-swap="innerHTML"
                        class="button-32">
                    Start Session 
                    </button>
                </form>
                <div id="session-info">
                    {{ template "signin_tmpl" . }}
                </div>

            </div>

            <div class="box"> 
                <div id="data-display" class="plotwindow">
                    <div id="sparta-shot-nav" class="nav-containers">
                        Fetch a shot to load navigation
                    </div>
        
                    <div id="sparta-frame">
                        placeholder for sparta frame
                    </div>

                </div>
            </div>

            <div class="box">
                <form hx-post="http://localhost:8080/api/submit" hx-target="#submit-status">
                    <label for="shotnr" hx-preserve>label</label>
                    <input type="text" id="label" name="label" value="label"> <br>
                    <label for="comment">Comment</label>
                    <textarea name="comment" rows="20" cols="50"></textarea> <br>
                    <button class="button-32" width="100px"> Submit </button>
                    </button>
                </form>
                <div id="submit-status">

                </div>

            </div>

        </main>
    </body>
</html>