
<div id="sparta-shot-info">
Shot {{ .Shotnr }} t_start = {{ .T_start }} t_end = {{ .T_end }} num_frames = {{ .Num_frames }}
</div>

<div id="sparta-shot-nav" class="nav-container">
New sparta shot nav: num_frames = {{ .Num_frames }}
    <button width=50px class="button-32" onClick="fetchArrayData()">Prev Frame</button>
    <button width=50px class="button-32" onClick="fetchArrayData()">Next Frame</button>
<div>