
{{ define "shot_info_tmpl" }}

<div id="sparta-shot-info">
Shot {{ .Sparta_state.Shotnr }} 
t_start = {{ .Sparta_state.T_start }} 
t_end = {{ .Sparta_state.T_end }} 
num_frames = {{ .Sparta_state.Num_frames }}
</div>

{{ end }}




