

<div id="sparta-shot-info">
Shot {{ .Shotnr }} t_start = {{ .T_start }} t_end = {{ .T_end }} num_frames = {{ .Num_frames }}
</div>

<div id="sparta-shot-nav" class="nav-container">
New sparta shot nav: num_frames = {{ .Num_frames }}
    <input type="range" name="range" min="1" max="{{ .Num_frames }}" step="1"  value="1" class="range" 
        hx-trigger="change"
        hx-target="#sparta-frame"
        hx-post="http://localhost:8080/api/sparta_frame"/>
<div>


